.list-group-box {
  width: 530px;
  height: 850px;
  background: url(../../assets/images/chart-group-bg.png) no-repeat center center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
