.nav-box-wrap {
  width: 100%;
  height: 115px;
  line-height: 115px;
  background-color: #0c0d28;
  padding: 5px 0;

  .nav-box {
    width: 1870px;
    height: 100%;
    margin: 0 auto;
    background: url(../../assets/images/nav-bg.png) no-repeat center center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .list-context {
      font-size: 24px;
      margin-left: 15px;
    }
  }
}
